<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kiko.adaptableglyphtoy">
    <!-- This permission is required to be able access the Glyph Matrix -->
    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.NothingAndroidSDKDemo">
        <!-- Nothing API Key -->
        <meta-data
            android:name="NothingKey"
            android:value="test" />

        <activity
            android:name="com.kiko.adaptableglyphtoy.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NothingAndroidSDKDemo"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Animation Demo Service -->

        <service
            android:name=".animation.ToyAnimationService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_animation" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/icon_main" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_animation" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1" />
        </service>

        <service
            android:name=".animation.NotificationListener"
            android:exported="false"
            android:label="Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <meta-data
                android:name="android.service.notification.default_filter_types"
                android:value="conversations|alerting|ongoing">
            </meta-data>
            <meta-data
                android:name="android.service.notification.disabled_filter_types"
                android:value="silent">
            </meta-data>

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".InteractToyWidget"
            android:exported="true"
            android:label="@string/widget_name_interact">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/interact_widget_info" />
        </receiver>

        <receiver
            android:name=".CycleToyWidget"
            android:exported="true"
            android:label="@string/widget_name_cycle">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cycle_widget_info" />
        </receiver>
    </application>

</manifest>